---
layout: base
---
<section id="body">
    <div class="title-wrapper">
        <h1>
            <div class="profile-image">
                <img src="/assets/icons/icon_anim_x4.gif" alt="Profile animation" />
            </div>
            <div id="title-text" class="title-text">
                ARCHIVES
            </div>
        </h1>
    </div>

    <div class="article-wrapper">
        <div class="main-article">
            {% include post_list.html %}
        </div>
    </div>
    <div class="centered-link">
        <a href="/">back to top</a>
    </div>
</section>

